<h3><strong>TIME FOR ONE LAST DRINK?</strong></h3>

<div class='tutorial-container'>
	<h6 class='tutorial-first' id='select-line'>1) Select a T line</h6>
	<h6 class='tutorial' id='select-station'>2) Select a T stop from the menu.</h6>
	<h6 class='tutorial' id='select-destination'>3) Select a direction.</h6>
	<h6 class='tutorial' id='select-submit'>One Last Drink?</h6>
</div>

<div class='red-line'>

	<div class='line-container small-centered columns' id='red-line-container'>
		<h3><strong><em>RED</em></strong></h3>
	</div>

	<div class="line-form small-8 small-centered columns" id='red-line-form'>	
		<%= form_tag "/main/show", method: "get" do %>
			<%= select_tag('id', options_from_collection_for_select(@red_line_stations, :id, :name), class: 'station-dropdown') %>
			<%= label_tag(:direction_nb, "Alewife") %>
			<%= radio_button_tag(:direction, 'nb') %></br>
			<%= label_tag(:direction_sb, "Ashmont/Braintree") %>
			<%= radio_button_tag(:direction, 'sb') %></br>
			<%= submit_tag "One Last Drink?" %>
		<% end %>
	</div>

</div>

<div class='orange-line'>

	<div class='line-container small-10 small-centered columns' id='orange-line-container'>
		<h3><strong><em>ORANGE</em></strong></h3>
	</div>

	<div class="line-form small-10 small-centered columns" id='orange-line-form'>	
		<%= form_tag "/main/show", method: "get" do %>
			<%= select_tag('id', options_from_collection_for_select(@orange_line_stations, :id, :name), class: 'station-dropdown') %>
			<%= label_tag(:direction_nb, "Oak Grove") %>
			<%= radio_button_tag(:direction, 'nb') %></br>
			<%= label_tag(:direction_sb, "Forest Hills") %>
			<%= radio_button_tag(:direction, 'sb') %></br>
			<%= submit_tag "One Last Drink?" %>
		<% end %>
	</div>

</div>

<div class='green-line'>

	<div class='line-container small-10 small-centered columns' id='green-line-container'>
		<h3><strong><em>GREEN</em></strong></h3>
	</div>

	<div class="line-form small-10 small-centered columns" id='green-line-form'>	
		<%= form_tag("/main/show", method: "get") do %>
			<%= select_tag('id', options_from_collection_for_select(@green_line_stations, :id, :name), class: 'station-dropdown') %>
			<%= label_tag(:direction_nb, "Lechmere") %>
			<%= radio_button_tag(:direction, 'nb') %></br>
			<%= label_tag(:direction_sb, "BC/Cleveland Circle/Riverside/Heath St") %>
			<%= radio_button_tag(:direction, 'sb') %></br>
			<%= submit_tag "One Last Drink?" %>
		<% end %>
	</div>

</div>

<div class='blue-line'>

	<div class='line-container small-10 small-centered columns' id='blue-line-container'>
		<h3><strong><em>BLUE</em></strong></h3>
	</div>

	<div class="line-form small-10 small-centered columns" id='blue-line-form'>	
		<%= form_tag("/main/show", method: "get") do %>
			<%= select_tag('id', options_from_collection_for_select(@blue_line_stations, :id, :name), class: 'station-dropdown') %>
			<%= label_tag(:direction_nb, "Wonderland") %>
			<%= radio_button_tag(:direction, 'nb') %></br>
			<%= label_tag(:direction_sb, "Bowdoin") %>
			<%= radio_button_tag(:direction, 'sb') %></br>
			<%= submit_tag "One Last Drink?" %>
		<% end %>
	</div>
</div>

