%h3 TIME FOR ONE LAST DRINK?

.tutorial-container
  %h6{ class: 'tutorial-first', id: 'select-line' } 1) Select a T line.
  %h6{ class: 'tutorial', id: 'select-station' } 2) Select a T stop from the menu.Select a T Line
  %h6{ class: 'tutorial', id: 'select-destination' } 3) Select a direction.
  %h6{ class: 'tutorial', id: 'select-submit' } One Last Drink?

- @trainlines.each do |trainline|
  %div{ class: "#{trainline.color}-line" }
    .line-container.small-centered.columns{ id: "#{trainline.color}-line-container" }
      %h3= "#{trainline.color.upcase}"

    .line-form.small-8.small-centered.columns{ id: "#{trainline.color}-line-form" }
      = form_tag "/main/show", method: "get" do
        = select_tag('id', options_from_collection_for_select(trainline.stations, :id, :name), class: 'station-dropdown')
        %label
          %input{ type: 'radio', name: 'direction', value: 'nb'}= "#{trainline.nb_endpoint}"
        %br
        %label
          %input{ type: 'radio', name: 'direction', value: 'sb'}= "#{trainline.sb_endpoint}"
        = submit_tag "One Last Drink"
