<h4> The last train leaves <strong><%= @station.name %></strong> in...</h4>
<div class="time-container">
	<h3><%=@time[0]%> HOURS, <%=@time[1]%> MINUTES</h3>
</div>

<h4><%= @message %></h4>

<div class="bar-container">
	<h4><strong><%= @name %></strong></h4>
	<h5><%=@address%></h5>
</div>

<div class='link'>
<%= link_to 'Another Round!', home_path %>
</div>
