<h1>Suggestion!</h1>

<h3><%= @station.name %></h3>

<div class="bar-container">
	<p><%= @name %></p>
	<ul>
		<li>Address: <%= @address %></li>
		<li>Rating: <%= @rating %></li>
	</ul>
</div>

<div class="time-container">
	<%= @station.last_train_sb %></br>
	<%= TimeDifference.between(@station.last_train_sb, Time.now).in_weeks %>
</div>

<%= link_to 'Another Round!', home_path %>